{% extends 'base.html.twig' %}

{% block title %}{{ cv['info']['cv_title']}}{% endblock %}
{% block description %}CV, {{ cv['info']['cv_title'] }}, {{ cv['info']['complete_name'] }}, {{ cv['info']['city'] }}, {{ cv['professional_experience']['1']['job'] }}{% endblock %}

{% block body %}
    <div class="container well">
        <div class="row">
            <div class="span12">
                <div id="photo">
                    {% if cv['info']['photo'] %}
                        <img src="{{ cv['info']['photo'] }}" width="186" alt="{{ cv['info']['complete_name'] }}">
                    {% else %}
                        <img src="img/user.png" width="186px" alt="{{ cv['info']['complete_name'] }}">
                    {% endif %}
                </div>
                <div id="data">
                    <table class="table" itemscope itemtype="http://schema.org/Person">
                          <tbody>
                            <tr>
                              <td><h3>Name</h3></td>
                              <td><h1 itemprop="name">{{ cv['info']['complete_name'] }}</h1></td>
                            </tr>
                            <tr>
                              <td><h3>Birthday</h3></td>
                              <td itemprop="birthDate">{{ cv['info']['birth_date'] }}</td>
                            </tr>
                            <tr>
                              <td><h3>Address</h3></td>
                              <td itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                                <span itemprop="streetAddress">{{ cv['info']['address'] }}</span>
                                <span itemprop="addressLocality">{{ cv['info']['postal_code'] }} {{ cv['info']['city'] }}</span>
                              </td>
                            </tr>
                            <tr>
                                <td>
                                    <h3>Phone number</h3>
                                </td>
                                <td itemprop="telephone">{{ cv['info']['phone_number'] }}</td>
                            </tr>
                            <tr>
                              <td><h3>Mail</h3></td>
                              <td><a href="mailto:{{ cv['info']['email'] }}" itemprop="email">{{ cv['info']['email'] }}</a></td>
                            </tr>
                          </tbody>
                        </table>
                </div>
                <div id="social">
                    {% if cv['info']['github'] %}
                        <a href="{{ cv['info']['github'] }}" class="tooltip-test github" data-original-title="Facebook" target="_blank"></a>
                    {% endif %}
                    {% if cv['info']['twitter'] %}
                        <a href="{{ cv['info']['twitter'] }}" class="tooltip-test twitter" data-original-title="Twitter" target="_blank"></a>
                    {% endif %}
                    {% if cv['info']['flickr'] %}
                        <a href="#" class="tooltip-test" data-original-title="Flickr"><img src="img/flickrpb.png"></a>
                    {% endif %}
                    {% if cv['info']['facebook'] %}
                        <a href="{{ cv['info']['facebook'] }}" class="tooltip-test facebook" data-original-title="facebook" target="_blank"></a>
                    {% endif %}
                    {% if cv['info']['google'] %}
                        <a href="{{ cv['info']['google+'] }}" class="tooltip-test google" data-original-title="Google +" target="_blank"></a>
                    {% endif %}

                    <div class="tooltip-test myspace" data-original-title="My Space"></div>
                    <div class="tooltip-test youtube" data-original-title="Youtube"></div>
                </div>
            </div>
        </div>
    </div>
    {% if cv['info']['description'] %}
        <div class="container well">
            <div class="row">
                <div class="span12">
                {{ cv['info']['description']|raw }}
                </div>
            </div>
        </div>
    {% endif %}
    {% if cv['competences'] %}
        <div class="container well">
            <div class="row">
                <div class="span4">
                    <h2>Technical skills</h2>
               </div>
                <div class="span8 detail">
                    {% for competence, info in cv['competences'] %}
                        <div class="row">
                            <div class="span8">
                                <h3 style="float:left; min-width: 50%;">{{ competence }}</h3>
                                <div class="progress progress-info">
                                    <div class="bar" style="width: {{ info['level'] }};"></div>
                                </div>
                                <div style="clear:both; color:#999999;">
                                    {{ info['description'] }}
                                </div>
                            </div>
                        </div>
                        {% if not loop.last %}
                            <hr>
                        {% endif %}
                    {% endfor %}
                </div>
           </div>
        </div>
    {% endif %}

    {% if cv['keywords'] %}
        <div class="container well">
            <div class="row">
                <div class="span4">
                    <h2>Keywords</h2>
               </div>
                <div class="span8">
                    {% for keyword in cv['keywords'] %}
                        <span>{{ keyword }}</span>
                    {% endfor %}
                </div>
           </div>
        </div>
    {% endif %}
    {% if cv['professional_experience'] %}
        <div class="container well">
            <div class="row">
                <div class="span4">
                    <h2>Expériences professionelles</h2>
                </div>
                <div class="span8">
                    {% for experiences in cv['professional_experience'] %}
                        <div class="row detail">
                            <div class="span4">
                                <h3>{{ experiences['job'] }}</h3>
                                <a href="{{ experiences['website'] }}" title="{{ experiences['society'] }}" target="_blank"><h6>{{ experiences['society'] }}</h6></a>
                                <p style="margin-top:20px;">
                                    {{ experiences['date_start'] }} - {{ experiences['date_end'] }}
                                </p>
                            </div>
                            <div class="span4">
                                {% for job in experiences['job_description'] %}
                                    <ul>
                                        <li>{{ job }}</li>
                                    </ul>
                                {% endfor %}
                            </div>
                        </div>
                        {% if not loop.last %}
                            <hr>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}


    {% if cv['education'] %}
        <div class="container well">
            <div class="row">
                <div class="span4">
                    <h2>Education</h2>
               </div>
                <div class="span8">
                    {% for education in cv['education'] %}
                        <div class="row detail">
                            <div class="span8">
                                <h3>{{ education['degree'] }}</h3>
                                <h6>{{ education['school_name'] }} - {{ education['school_city'] }}</h6>
                                <p style="margin-top:20px;">
                                    {{ education['date'] }}
                                </p>
                            </div>
                        </div>
                        {% if not loop.last %}
                            <hr>
                        {% endif %}
                    {% endfor %}
                </div>
           </div>
       </div>
    {% endif %}

    {% if cv['languages'] %}
        <div class="container well">
            <div class="row">
                <div class="span4">
                    <h2>Languages</h2>
                </div>
                <div class="span8 detail">
                    {% for laguages, level in cv['languages'] %}
                        <div class="row">
                            <div class="span2">
                                <b>{{ laguages }}</b>: {{ level }}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% if cv['info']['analytics'] %}
    {% block analytics %}
        <script>{{ cv['info']['analytics']|raw }}</script>
    {% endblock %}
{% endif %}
